<section class="bg-yellow-sp">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-8 gap-8 lg:gap-16">
        <a href="https://www.youtube.com/watch?v=SdfY_WTkp0E&list=PLe85eutWTgPqTD4mjm_tij6qeWMeWJqep&ab_channel=ForTheRock" target="_blank" rel="noopener noreferrer" >
            <h2 class="text-black text-4xl font-medium tracking-tight leading-none  md:text-5xl lg:text-5xl text-center hover:text-white">Home of The KingdomCore Podcast</h2>
        </a>
    </div>
</section>
