---
import AlbumCard from '../components/AlbumCard/AlbumCard.astro';
import PageBanner from '../components/Header/PageBanner.astro';
import Hero from '../components/Hero/Hero.astro';
import HomeAlbums from '../components/HomeAlbums/HomeAlbums.astro';
import HomeBanner from '../components/HomeBanner/HomeBanner.astro';
import Layout from '../layouts/Layout.astro';


---

<Layout>
	<PageBanner pageTitle="Music"/>
	<section id="cs-contact" class="bg-black">
		<div class="container max-w-screen-lg mx-auto">
		  <div class="flex flex-wrap justify-center md:grid grid-cols-3 gap-8">
			<AlbumCard imgSrc="https://ik.imagekit.io/boxhuwbys/refiner-firewalker.webp?updatedAt=1733427214621" altText="Refiner - Firewalker" title="   Refiner - Firewalker [EP]" dlLink="https://refinermetal.bandcamp.com/album/firewalker"/>
			<AlbumCard imgSrc="https://ik.imagekit.io/boxhuwbys/white-robe-nation-rebirth.webp" altText="For The Rock - White Robe Nation - Rebirth" title="White Robe Nation - Rebirth" dlLink="https://whiterobenation.bandcamp.com/track/rebirth"/>
			<AlbumCard imgSrc="https://ik.imagekit.io/boxhuwbys/white-robe-nation-bride.jpg" altText="For The Rock - White Robe Nation - Bride" title="White Robe Nation - Bride" dlLink="https://whiterobenation.bandcamp.com/track/bride"/>
			<AlbumCard imgSrc="https://ik.imagekit.io/boxhuwbys/white-robe-nation-parable.webp" altText="For The Rock - White Robe Nation - Parable[EP]" title="White Robe Nation - Parable[EP]" dlLink="https://whiterobenation.bandcamp.com/album/parable-ep"/>
			<AlbumCard imgSrc="https://ik.imagekit.io/boxhuwbys/white-robe-nation-pandemic.jpg" altText="For The Rock - White Robe Nation - Pandemic" title="White Robe Nation - Pandemic" dlLink="https://whiterobenation.bandcamp.com/track/pandemic"/>
			<AlbumCard imgSrc="https://ik.imagekit.io/boxhuwbys/white-robe-nation-prodigal.jpg" altText="For The Rock - White Robe Nation - Prodigal" title="White Robe Nation - Prodigal" dlLink="https://whiterobenation.bandcamp.com/track/prodigal"/>
			<AlbumCard imgSrc="https://ik.imagekit.io/boxhuwbys/for-the-rock-stand-united.webp?updatedAt=1733181683597" altText="" title="For The Rock - Stand United" dlLink="https://fortherock.bandcamp.com/album/stand-united"/>
			<AlbumCard imgSrc="https://ik.imagekit.io/boxhuwbys/for-the-rock-breaker-of-chains.jpg?updatedAt=1733182442794" altText="" title="For The Rock - Breaker of Chains" dlLink="https://fortherock.bandcamp.com/album/breaker-of-chains"/>
			<AlbumCard imgSrc="https://ik.imagekit.io/boxhuwbys/for-the-rock-blueprint-for-life.jpg?updatedAt=1733182442713" altText="" title="For The Rock - Blueprint For Life" dlLink="https://fortherock.bandcamp.com/album/blueprint-for-life"/>
			<AlbumCard imgSrc="https://ik.imagekit.io/boxhuwbys/for-the-rock-in-his-hands.webp" altText="For The Rock - In His Hands" title="For The Rock - In His Hands" dlLink="https://fortherock.bandcamp.com/album/in-his-hands"/>
			<AlbumCard imgSrc="https://ik.imagekit.io/boxhuwbys/for-the-rock-new-discoveries.jpg" altText="For The Rock - New Discoveries" title="For The Rock - New Discoveries" dlLink="https://fortherock.bandcamp.com/album/new-discoveries"/>
			<AlbumCard imgSrc="https://ik.imagekit.io/boxhuwbys/for-the-rock-burn-the-ships.jpg" altText="For The Rock - Burn the Ships" title="For The Rock - Burn the Ships" dlLink="https://fortherock.bandcamp.com/album/burn-the-ships"/>
			<AlbumCard imgSrc="https://ik.imagekit.io/boxhuwbys/for-the-rock-songs-of-hope-for-a-new-era.webp" altText="For The Rock - Songs of Hope for a New Era" title="For The Rock - Songs of Hope for a New Era" dlLink="https://fortherock.bandcamp.com/album/songs-of-hope-for-a-new-era"/>
		  </div>
		</div>
	  </section>
</Layout>
<style lang="less">
	/* PAGE-SPECIFIC STYLES FOR THE CONTACT PAGE */
  
	/*-- -------------------------- -->
  <---          Contact           -->
  <--- -------------------------- -*/
  
	/* Mobile - 360px */
	@media only screen and (min-width: 0em) {
	  :root {
		/* 13px - 16px */
		--topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
		/* 31px - 49px */
		--headerFontSize: clamp(1.9375rem, 4.5vw, 3.0625rem);
		--bodyFontSize: 1rem;
  
		/* 60px - 100px top and bottom */
		--sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
	  }
  
	  #cs-contact {
		font-family: "Roboto", "Arial", sans-serif;
		padding: var(--sectionPadding);
  
		.cs-content {
		  width: 100%;
		}
  
		.cs-topper {
		  text-align: left;
		  /* 8px - 12px */
		  margin-bottom: clamp(0.5rem, 1.4vw, 0.75rem);
		}
  
		.cs-title {
		  text-align: left;
		  max-width: (800/16rem);
		}
  
		.cs-text {
		  text-align: left;
		  /* 404px - 522px */
		  max-width: clamp(25.25rem, 30vw, 32.625rem);
		  margin: 0 auto 0 0;
		  /* 40px - 48px */
		  margin-bottom: clamp(2.5rem, 6.3vw, 3rem);
		}
  
		.cs-link {
		  /* 16px - 20px */
		  font-size: clamp(1rem, 3vw, 1.25rem);
		  line-height: 1.2em;
		  text-decoration: none;
		  margin-bottom: (20/16rem);
		  color: var(--bodyTextColorWhite);
		  display: block;
		  position: relative;
  
		  &:before {
			/* Animated underline */
			content: "";
			width: 0%;
			height: 2px;
			/* current color of the parent */
			background: currentColor;
			opacity: 1;
			display: block;
			position: absolute;
			bottom: (-2/16rem);
			left: 0;
			transition: width 0.3s;
		  }
  
		  &:hover {
			&:before {
			  width: 100%;
			}
		  }
  
		  &:last-of-type {
			margin-bottom: 0;
		  }
		}
	  }
	}
  
	/* Tablet - 700px */
	@media only screen and (min-width: 43.75em) {
	  #cs-contact {
		#cs-form {
		  display: flex;
		  justify-content: space-between;
		  align-items: flex-start;
		  flex-wrap: wrap;
		}
	  }
	}
  
	/* Small Desktop - 1024px */
	@media only screen and (min-width: 64em) {
	  #cs-contact {
		.cs-container {
		  max-width: (1280/16rem);
		  display: flex;
		  justify-content: flex-end;
		  align-items: flex-start;
		  gap: (80/16rem);
		}
  
		#cs-form {
		  max-width: (630/16rem);
		  label {
			width: 100%;
		  }
		}
  
		.cs-right-section {
		  width: 40%;
		  max-width: (542/16rem);
		  /* changes to 578px at 1250px wide */
		  height: (686/16rem);
		  /* prevents flexbox from squishing it */
		  flex: none;
  
		  &:hover {
			.cs-bg-picture {
			  transform: scale(1.1);
			}
		  }
		}
  
		.cs-block {
		  /* goes back to inline so it stays "in line" with the rest of the text */
		  display: inline-block;
		}
	  }
	}
  
	/* Small Desktop - 1250px */
	@media only screen and (min-width: 81.25em) {
	  #cs-contact {
		#cs-form {
		  column-gap: (0/16rem);
		  label {
			width: 48%;
			max-width: (305/16rem);
		  }
  
		  .cs-label-message {
			max-width: 100%;
		  }
		}
  
		.cs-right-section {
		  height: (578/16rem);
		}
	  }
	}
  
	/* Dark Mode */
	@media only screen and (min-width: 0em) {
	  body.dark-mode {
		#cs-contact {
		  .cs-text,
		  .cs-title {
			color: var(--bodyTextColorWhite);
		  }
  
		  .cs-topper {
			color: var(--primaryLight);
		  }
		}
	  }
	}
  </style>
  