<section class="bg-gray-950">
   <div class="py-8 px-4">
    <behold-widget feed-id="ITjp7r7qkDl8bsktU7Db"></behold-widget>
    <script>
      (() => {
        const d=document,s=d.createElement("script");s.type="module";
        s.src="https://w.behold.so/widget.js";d.head.append(s);
      })();
    </script>
   </div>
</section>