---
import HomeVideoCard from "../HomeVideoCard/HomeVideoCard.astro";
import Button from "../UI/Button.astro";
---

<section class="bg-black">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-8 gap-8 lg:gap-16">
        <h2 class="px-3 mb-8 text-4xl font-bold tracking-tight leading-none text-gray-00 md:text-5xl lg:text-5xl text-white">Videos</h2>
    
    <div class="flex flex-wrap gap-4 justify-start">
        <HomeVideoCard ytLink="https://www.youtube.com/embed/ecLGyGLG-og?si=Rjwy1pS9o8oZaMkM"/>
        <HomeVideoCard ytLink="https://www.youtube.com/embed/_G3gHIZzFo8?si=2OK5GQFLcBFgZVbv"/>
        <HomeVideoCard ytLink="https://www.youtube.com/embed/M9hTEXyar5c?si=bwbcywas8WPfmi4S"/>
        
    </div>
    <div class="flex justify-center py-8">
        <Button title="See More Videos">
       </div>
    </div>
</section>
