---
import HomeAlbumCard from "../HomeAlbumCard/HomeAlbumCard.astro";
import Button from "../UI/Button.astro";
---

<section class="bg-black">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-8 gap-8 lg:gap-16">
        <h2 class="px-3 mb-8 text-4xl font-extrabold tracking-tight leading-none text-gray-00 md:text-5xl lg:text-5xl text-white">Compilation Albums</h2>
    
    <div class="flex flex-wrap gap-4 justify-center">
        <HomeAlbumCard title="Stand United" imgSrc="https://ik.imagekit.io/boxhuwbys/for-the-rock-stand-united.webp" releaseDate="October 30, 2024" BcPlayer="https://bandcamp.com/EmbeddedPlayer/album=1902646536/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/transparent=true/" BcLink="https://fortherock.bandcamp.com/album/stand-united" BcTitle="Stand United by For The Rock"/>
        <HomeAlbumCard title="Blueprint For Life" imgSrc="https://ik.imagekit.io/boxhuwbys/for-the-rock-blueprint-for-life.jpg" releaseDate="March 29, 2024" BcPlayer="https://bandcamp.com/EmbeddedPlayer/album=1296214154/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/transparent=true/"/>
        <HomeAlbumCard title="Breaker of Chains" imgSrc="https://ik.imagekit.io/boxhuwbys/for-the-rock-breaker-of-chains.jpg" releaseDate="October 25, 2023"/>
       <div class="mx-auto py-8">
        <Button title="See More Albums">
       </div>
    </div>
    </div>
</section>
