---
import HomeAlbumCard from "../HomeAlbumCard/HomeAlbumCard.astro";
import Button from "../UI/Button.astro";
---

<section class="bg-gray-700">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-8 gap-8 lg:gap-16">
        <h2 class="mb-8 text-4xl font-extrabold tracking-tight leading-none text-gray-00 md:text-5xl lg:text-5xl text-white">Compilation Albums</h2>
    
    <div class="flex flex-wrap gap-4 justify-center">
        <HomeAlbumCard title="Stand United" imgSrc="https://ik.imagekit.io/boxhuwbys/for-the-rock-stand-united.webp" releaseDate="October 30, 2024"/>
        <HomeAlbumCard title="Blueprint For Life" imgSrc="https://ik.imagekit.io/boxhuwbys/for-the-rock-blueprint-for-life.jpg" releaseDate="October 30, 2024"/>
        <HomeAlbumCard title="Breaker of Chains" imgSrc="https://ik.imagekit.io/boxhuwbys/for-the-rock-breaker-of-chains.jpg" releaseDate="October 30, 2024"/>
       <div class="mx-auto py-8">
        <Button title="See More Albums">
       </div>
    </div>
    </div>
</section>
