---
import HomeAlbumCard from "../HomeAlbumCard/HomeAlbumCard.astro";
import Button from "../UI/Button.astro";
---

<section class="bg-black">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-8 gap-8 lg:gap-16">
        <h2 class="px-3 mb-8 text-4xl font-bold tracking-tight leading-none text-gray-00 md:text-5xl lg:text-5xl text-white">Albums</h2>
    
    <div class="flex flex-wrap gap-4 justify-center">
        <HomeAlbumCard title="For The Rock - Stand United" imgSrc="https://ik.imagekit.io/boxhuwbys/for-the-rock-stand-united.webp?updatedAt=1733181683597" releaseDate="October 30, 2024" BcPlayer="https://bandcamp.com/EmbeddedPlayer/album=108825840/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/transparent=true/" BcLink="https://fortherock.bandcamp.com/album/breaker-of-chains" BcTitle="Breaker of Chains by For The Rock"/>
        <HomeAlbumCard title="Refiner - Firewalker[EP]" imgSrc="https://ik.imagekit.io/boxhuwbys/refiner-firewalker.webp?updatedAt=1733427214621" releaseDate="May 27, 2022" BcPlayer="https://bandcamp.com/EmbeddedPlayer/album=2729244806/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/transparent=true/" BcLink="https://fortherock.bandcamp.com/album/stand-united" BcTitle="Stand United by For The Rock"/>
        <HomeAlbumCard title="White Robe Nation - Parable[EP]" imgSrc="https://ik.imagekit.io/boxhuwbys/white-robe-nation-parable.webp?updatedAt=1733435472204" releaseDate="October 30, 2020" BcPlayer="https://bandcamp.com/EmbeddedPlayer/album=1825227873/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/transparent=true/" BcLink="https://fortherock.bandcamp.com/album/blueprint-for-life" BcTitle="Blueprint for Life by For The Rock"/>
       <div class="mx-auto py-8">
        <Button title="See More Albums">
       </div>
    </div>
    </div>
</section>
