---
const {ytLink} = Astro.props;
---
<section class="bg-purple-900 rounded-xl p-2">
    <iframe width="300" height="315" src={ytLink} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>
</section>