---
const {title, BcPlayer,imgSrc, releaseDate, BcLink, BcTitle} = Astro.props;
---
<section class="bg-purple-900 rounded-xl p-2">
    <iframe width="360" height="315" src="https://www.youtube.com/embed/ecLGyGLG-og?si=Rjwy1pS9o8oZaMkM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>